<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
<connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Atlas-20131110162049;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Atlas-20131110162049.mdf" providerName="System.Data.SqlClient" />-->
    <add name="prueba" connectionString="data source=localhost;initial catalog=ADADB;persist security info=false;Integrated Security=true;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>  
    
  </connectionStrings>
</configuration>
